<nav class='nav'>
  <div class='nav__logo'>
    <a routerLink='/'>C<span>C</span></a>
  </div>
  <div class='nav__link'>
    <a routerLink='/elements' routerLinkActive='active' >Elements</a>
  </div>
  <div class='nav__link'>
    <a routerLink='/collections' routerLinkActive='active' >Collections</a>
  </div>
  <div class='nav__link'>
    <a routerLink='/views' routerLinkActive='active'>Views</a>
  </div>
  <div class='nav__link'>
    <a routerLink='/mods' routerLinkActive='active'>Modules</a>
  </div>
</nav>
<router-outlet></router-outlet>
