.segment {
  margin: 2.7rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  color: var(--color-primary);
  font-size: 6.7rem;
  width: 6.7rem;
  height: 6.7rem;
}

.description {
  margin: 1.4rem 0;
  color: var(--color-grey-4);
  font-size: 1.6rem;
  font-weight: 600;
  max-width: 45rem;
  text-align: center;

  &:empty {
    display: none;
  }
}

.btn {
  border: none;
  padding: 0.9rem 1.4rem;
  font-size: 1.9rem;
  color: snow;
  background-color: var(--color-primary);
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: lighten(#118ab2, 10%);
  }
}
