.search {
  width: 100%;
  padding: 0.9rem 2.7rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 0.3rem 0.9rem;
  font-size: 1.9rem;
  text-align: center;
}
